@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(0, 145, 255);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  position: relative;
  width: 410px;
  z-index: 10px;
  height: 470px;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.704);
  padding: 20px;
  border-radius: 20px;
}

.form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: rgb(225, 219, 219);
  border-radius: 100px;
}

input {
  outline: none;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  height: 40px;
}

.btn-1 {
  background-color: transparent;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-1 img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40px;
}

.title {
  margin-bottom: 10px;
  text-align: center;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.title2 {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
  color: rgb(2, 228, 2);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  height: 300px;
  overflow-y: auto;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(225, 219, 219);
}

img {
  width: 20px;
}

img:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.1);
}

.line {
  text-decoration: line-through;
}
